

body {
    background-color: #2e3e50;
    display: flex;
}

aside {
    background-color: #d9e8e8;
}

main {
    padding: 20px;
}

.text-title,
main h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

main h2 {
    color: #d9e8e8;
}

#search-input,
#format-select,
.btn {
    padding: 5px;
    margin: 5px 0px;
}

.btn {
    background-color: rgb(72, 180, 119);
    transition: all 0.5s ease-in-out;
    color: white;
}

.btn:hover {
    background-color: rgb(146, 228, 181);
    transition: all 0.5s ease-in-out;
}

#return-btn {
    background-color: rgb(255, 109, 109);
    transition: all 0.5s ease-in-out;
}

#return-btn:hover {
    background-color: rgb(252, 152, 152);
    transition: all 0.5s ease-in-out;
}